.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        height: 80px;
        display: flex;
        align-items: center;
        font-size: 1.2em;

        nav {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: auto;
            grid-row-gap: 0px;
            align-items: center;
            justify-items: center;

            .custom-size {
                // display: block;
                font-size: 40px;
            }

            .custom-size-1 {
                grid-area: 1 / 1;
            }
            
            .custom-size-2 {
                grid-area: 1 / 2;
            }
            
            .custom-size-3 {
                grid-area: 1 / 3;
            }
            

        }
    }

    main {
        flex-grow: 1;
    }

    footer {
        height: 80px;
        display: flex;
        align-items: center;
        color: whitesmoke;
        background-color: #151515;
        font-size: 1.2em;
    }
}