.contact-list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 600;

    .contact-card {
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: .5em;

       
    }
}